.center{
	text-align:center;
}
.saferoomIcon:hover{
	cursor:pointer;
}
.loadingText{
	font-size:1.5em;
	margin-left:30px;
}
.noteContent{
	margin:20px 20px 20px 20px;
	font-size:1.8em;
}
.wordwrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}

.attachment{
	width:100%;
	padding:10px 10px 10px 10px;
	margin-bottom:10px;
	border:1px solid #dddddd;
	border-radius: 10px 10px 10px 10px;
}
.link:hover{
	cursor:pointer;
}

.nolink{
	color:#000000;
	text-decoration: none;
}
.nolink:hover{
	color:#000000;
	text-decoration: none;
}

html, body, .container-table {
    height: 100%;
}
.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}
.tabContent{
	padding:20px 20px 20px 20px;
}
.greyedText
{
	font-size:1.7em;
	color:#bbbbbb;
}
