<div class="row">
	<div class="col-md-12">
		
		<!-- Link section  -->
		<div style="margin-bottom:10px">
			<label for="#txtquickLink">Quick link:</label>
			<input type="text" class="form-control" id="txtquickLink" readonly="true" />
		</div>

		<!-- Name section -->
		<div style="margin-bottom:10px">
			<label for="#txtquickName">Link name:</label>
			<input type="text" class="form-control" id="txtquickName" placeholder="Type name of the quick link" />
		</div>

	</div>
</div>
<input type="hidden" id="dialogMode" value="quickAdd"/>