<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		{%include "alert.content.html" %}
	</div>
	<div class="col-md-1"></div>
</div>
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<div>
			<label for="#txtTitle">Note title</label>
			<input type="text" id="txtTitle" placeholder="Note's title" class="form-control" />
		</div>
		<br/>
		<div>
			<label for="#listNotebooks">Notebook:</label>
			<div id="listNotebooks" class="input-group" style="width:50%"><img src="/static/images/103.gif"/></div>
			<br/>
		</div>
		<div>
			<label for="#txtTags">Tags:</label>
			<input type="text" id="txtTags" data-role="tagsinput" placeholder="Put some tags here" class="form-control" /><span id="buttonTags">
				<button title="Select from existing Evernote tags" id="btnTags" type="button" class="btn btn-default btn-md">
			  		<span class="glyphicon glyphicon-tags" style="margin-right:5px" aria-hidden="true"></span> Select tags
				</button>
			</span>
		</div><br/>
		<div>
			<label for="#summernote">Content:</label>
			<div id="summernote"></div>
		</div>
		<div>
			<button id="btnAttach" type="button" class="btn btn-default btn-md">
			  <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span> Attach
			</button>
			<input style="display:none" multiple="true" type="file" name="files" id="txtFiles"/>
			<button id="btnClear" type="button" class="btn btn-default btn-md">
			  <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Clear
			</button>
		</div>
		<hr/>
		<div class="pull-right">
			<button style="margin-right:10px" id="btnEncrypt" type="button" class="btn btn-default btn-md">
			  <span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Encrypt
			</button>
			<button id="btnOTPEncrypt" type="button" class="btn btn-default btn-md">
			  <span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Encrypt OTP
			</button>
		</div><br/><br/><br/><br/>		
	</div>
	<div class="col-md-1"></div>
</div>