{%extends "layout.html"%}
{%block css%}
	<link href="/static/css/summernote.css" rel="stylesheet">
	<link href="/static/css/btags.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/static/fawesome/css/font-awesome.min.css">
{%endblock%}
{% block body %}

<!-- Title section -->
{%include "title.html"%}

<!-- Content section -->
{%include "create.content.html"%}

{%endblock%}
{%block scripts%}
	<script type="text/javascript" src="/static/js/summernote.min.js"></script>
	<script type="text/javascript" src="/static/js/btags.js"></script>
	<script type="text/javascript" src="/static/js/create.js"></script>
{% endblock %}
{%block dialogs%}
<!-- include some dialogs -->
{% include "dialog_loading.html" %}
{% include "dialog.tags.html" %}
{% include "dialog.otp.html" %}
{%endblock%}