<html>
	<head>
		<title>Demo page for testing</title>
		<link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
		<link href="/static/css/toastr.css" rel="stylesheet"/>
	</head>
	<body>
		<script src="/static/js/jquery.js"></script>
		<script src="/static/js/toastr.js"></script>
		<script>
			toastr.options = {
  "closeButton": false,
  "debug": false,
  "newestOnTop": false,
  "progressBar": false,
  "positionClass": "toast-bottom-center",
  "preventDuplicates": false,
  "onclick": null,
  "showDuration": "300",
  "hideDuration": "1000",
  "timeOut": "6000",
  "extendedTimeOut": "1000",
  "showEasing": "swing",
  "hideEasing": "linear",
  "showMethod": "fadeIn",
  "hideMethod": "fadeOut"
}
toastr["error"]("Error while processing your request. Please check server logs. asdsad asd asd sa dqweqw eqw eq wq eqw ewq eqw eqe");
		</script>
	</body>
</html>