<div class="modal fade" id="modalProgress" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"><div class="modal-dialog" role="document">
		<div class="modal-content" id="modalContent">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel"></h4>
			</div>
			<div class="modal-body" style="padding:20px 20px 20px 20px">
				<div class="row">
					<div class="col-md-12" >
						<h4 id="current_status"> Initializing ... </h4>
						<div class="progress">
							<div id="pBar" class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
							<span class="sr-only">60% Complete</span>
							</div>
						</div>
						<div id="current_progress" style="font-size:0.9em"><i></i></div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button id="btnClose" type="button" disabled="true" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>