<div class="modal fade" id="modalHelp">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="modalTitle">Help</h4>
			</div>
			<div class="modal-body" id="helpContent">
				
				<div class="row">
					<div class="col-md-6">
						<span style="font-size:1em" class="label label-default">Ctrl + q</span>
					</div>
					<div class="col-md-6">Add new Quick Link</div>
				</div><br/>
				<div class="row">
					<div class="col-md-6">
						<span style="font-size:1em" class="label label-default">Ctrl + l</span>
					</div>
					<div class="col-md-6">List created Quick Links</div>
				</div><br/>
				<div class="row">
					<div class="col-md-6">
						<span style="font-size:1em" class="label label-default">Ctrl + b</span>
					</div>
					<div class="col-md-6">Open server log</div>
				</div>

			</div>
			<div class="modal-footer" id="quickFooter">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>				
			</div>
		</div>
	</div>
</div>