<div class="modal fade" id="modalOTP">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="modalTitle">One-Time password</h4>
			</div>
			<div class="modal-body" id="modalContent">
				<div>
					<input id="txtOTP" type="password" placeholder="Type your OTP password" class="form-control" />
				</div>
			</div>
			<div class="modal-footer" id="modalFooter">
				<input type="hidden" id="otpMode" value="decrypt"/>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" id="btnOTPApply" class="btn btn-primary">Apply</button>
			</div>
		</div>
	</div>
</div>