<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">

		<!-- Content  -->
		<div>
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a id="tabFavs" href="#favs" aria-controls="home" role="tab" data-toggle="tab">Favourites</a></li>
				<li role="presentation"><a id="tabQuicks" href="#quicks" aria-controls="profile" role="tab" data-toggle="tab">Quick Links</a></li>
			</ul>
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active tabContent" id="favs">
					List of favourites
				</div>
				<div role="tabpanel" class="tab-pane tabContent" id="quicks">
					List of quick links
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-1"></div>
</div>