<br/><br/><br/>
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8" style="text-align:center">
		<span id="buttonCreate" style="margin-right:20px">
			<button id="btnCreate" type="button" style="font-size:1.5em;padding:20px 20px 20px 20px" class="btn btn-default btn-lg">
				<span class="glyphicon glyphicon-plus" style="margin-right:5px" aria-hidden="true"></span> Create
			</button>
		</span>
		<span id="buttonNotebooks" style="margin-right:20px">
			<button id="btnNotebooks" type="button" style="font-size:1.5em;padding:20px 20px 20px 20px" class="btn btn-default btn-lg">
				<span class="glyphicon glyphicon-book" style="margin-right:5px" aria-hidden="true"></span> Notebooks
			</button>
		</span>
		<span id="buttonTags" style="margin-right:20px">
			<button id="btnTags" type="button" style="font-size:1.5em;padding:20px 20px 20px 20px" class="btn btn-default btn-lg">
				<span class="glyphicon glyphicon-tags" style="margin-right:5px" aria-hidden="true"></span> Tags
			</button>
		</span>	
	</div>
	<div class="col-md-2"></div>
</div><br/>
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8" style="text-align:center">
		<span id="buttonSearches" style="margin-right:20px">
			<button id="btnSearches" type="button" style="font-size:1.5em;padding:20px 20px 20px 20px" class="btn btn-default btn-lg">
				<span class="glyphicon glyphicon-search" style="margin-right:5px" aria-hidden="true"></span> Searches
			</button>
		</span>
		<span id="btnFavourites" style="margin-right:20px">
			<button id="btnFavourites" type="button" style="font-size:1.5em;padding:20px 20px 20px 20px" class="btn btn-default btn-lg">
				<i class="fa fa-star-o" style="margin-right:5px" aria-hidden="true"></i> Favourites
			</button>
		</span>
		<span id="buttonSettings" style="margin-right:20px">
			<button id="btnSettings" type="button" style="font-size:1.5em;padding:20px 20px 20px 20px" class="btn btn-default btn-lg">
				<span class="glyphicon glyphicon-cog" style="margin-right:5px" aria-hidden="true"></span> Settings
			</button>
		</span>	
	</div>
	<div class="col-md-2"></div>
</div>