<div class="row">
	<div class="col-md-4">
		<!-- Category selection  -->
		<select style="margin:10px 10px 10px 10px" id="selectCategory" class="form-control">
			<option value="notebook">Notebooks</option>
			<option value="tag">Tags</option>
			<option value="search">Saved Searches</option>
		</select>
		<div id="listItems"></div>
	</div>
	<div class="col-md-8" style="padding-left:30px" id="listNotes">
		<div class="noteContent"> Please select notebook, tag or Saved Search to see the list of notes </div>
	</div>
</div>