<div class="input-group">
	<span  class="input-group-btn">
		<button type="button" style="margin-left:10px" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-filter" aria-hidden="true"></i> Display options <span class="caret"></span>
        </button>
		<ul class="dropdown-menu">
			<li><a title="Show all notes (encrypted and unencrypted)" href="#" id="show_all"><i class="fa fa-check" style="display:none" aria-hidden="true"></i> Show all</a></li>
			<li><a id="show_enc"  title="Show only encrypted notes" href="#"> <i style="display:none" class="fa fa-check" aria-hidden="true"></i> Show only encrypted</a></li>
			<li><a id="show_plain" title="Show only unencrypted notes" href="#"><i style="display:none" class="fa fa-check" aria-hidden="true"></i> Show only unencrypted</a></li>
		</ul>
		<button style="margin-left:10px" title="Encrypt selected notes with the master password" type="button" class="btn btn-default" aria-label="Left Align" id="btnEncrypt">
        	<i class="fa fa-lock" aria-hidden="true"></i> Encrypt
        </button>
        <button style="margin-left:10px" title="Encrypt selected notes with the OTP password" type="button" class="btn btn-default" aria-label="Left Align" id="btnOTPEncrypt">
        	<i class="fa fa-lock" aria-hidden="true"></i> OTP Encrypt
        </button>

		<button style="margin-left:10px" title="Click to update the list of notes" type="button" class="btn btn-default" aria-label="Left Align" id="btnRefresh">
        	<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Refresh
        </button>

   </span>

   
   <input style="margin-left:10px;width:60%" placeholder="Type text to search" type="text" class="form-control" id="txtSearch">
   
</div><hr/>
<div id="note_list">
<table id="tblNotes" class="table table-striped">
<thead>
	<tr>
		<th><input type="checkbox" id="selectAll"/></th>
		<th>Title</th>
		<th>Created</th>
		<th>Updated</th>
	</tr>
</thead>
<tbody>
	{% for note in items %}
		<tr class="itemRow">
			<td><input type="checkbox" id="{{note.guid}}"/></td>
			<td style="width:50%"><a target="_blank" href="/note/{{note.guid}}">{{note.title}}</a></td>
			<td style="width:25%">{{note.created}}</td>
			<td style="width:25%">{{note.updated}}</td>
		</tr>
	{% endfor %}
</tbody>
</table>
<div>
<!-- Modal window template for encryption progress  -->
{% include "dialog.progress.html"%}