<div class="row">
	<div class="col-md-11" style="padding-left:50px">
		<h3><span id="noteTitle"><img src="/static/images/103.gif"></span>
		<span style="margin-left:10px">
			<button type="button" id="btnDecrypt" title="Decrypt using master password" class="btn btn-default btn-md"><i class="fa fa-unlock-alt" aria-hidden="true"></i> Decrypt</button>
		</span>
		<span style="margin-left:10px">
			<button type="button" id="btnOTPDecrypt" title="Decrypt using OTP password" class="btn btn-default btn-md"><i class="fa fa-unlock-alt" aria-hidden="true"></i> OTP Decrypt</button>
		</span>
		<span style="margin-left:10px" id="favAdd">
			<button type="button" id="btnAddFav" title="Add note to favourites" class="btn btn-default btn-md"><i class="fa fa-star-o" aria-hidden="true"></i> Add to Favourites</button>
		</span>
		<span style="margin-left:10px;display:none" id="favRemove">
			<button type="button"  id="btnRemFav" title="Remove note to favourites" class="btn btn-default btn-md"><i class="fa fa-star" aria-hidden="true"></i> Remove from Favourites</button>
		</span>
		<span style="margin-left:10px">
			<button type="button" id="btnUpdate" title="Sync note with Onenote server" class="btn btn-default btn-md"><i class="fa fa-refresh" aria-hidden="true"></i> Update</button>
		</span>
		</h3><hr/>
	</div>
	<div class="col-md-1" style="padding-left:50px">
		
	</div>
</div>
<div class="row">
	<div class="col-md-11" style="padding-left:50px">
		<div id="noteContent" class="wordwrap">
			<img src="/static/images/103.gif">
		</div><hr/>
		<div>
		</div>
	</div>
	<div class="col-md-1" style="padding-left:50px"></div>
</div>
<input type="hidden" id="txtGuid" value="{{guid}}"/>