<h3>Cache settings</h3><hr/>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<table id="tblCache" class="table table-striped">
			<thead>
				<tr>
					<th>Type</th>
					<th>Size</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Notebooks (Evernote + Onenote)</td>
					<td id="cache_notebooks"><img src="/static/images/103.gif"/></td>
					<td><button type="button" class="btn btn-default" aria-label="Left Align"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Clear</button></td>
				</tr>
				<tr>
					<td>Tags</td>
					<td id="cache_tags">1 Kb</td>
					<td><button type="button" class="btn btn-default" aria-label="Left Align"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Clear</button></td>
				</tr>
				<tr>
					<td>Saved searches</td>
					<td id="cache_searches">292 Kb</td>
					<td><button type="button" class="btn btn-default" aria-label="Left Align"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Clear</button></td>
				</tr>
				<tr>
					<td>Onenote sections</td>
					<td id="cache_sections">292 Kb</td>
					<td><button type="button" class="btn btn-default" aria-label="Left Align"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Clear</button></td>
				</tr>
				<tr>
					<td>Notes (Onenote+Evernote)</td>
					<td id="cache_notes">292 Kb</td>
					<td><button type="button" class="btn btn-default" aria-label="Left Align"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Clear</button></td>
				</tr>
				<tr>
					<td>Temporary data (notes + resources)</td>
					<td id="cache_tmp">292 Kb</td>
					<td><button type="button" class="btn btn-default" aria-label="Left Align"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Clear</button></td>
				</tr>

			</tbody>
			</table>
			<button type="button" class="btn btn-default" aria-label="Left Align"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Clear all caches</button>
			</div>
			<div class="col-md-1"></div>
		</div>