<h3>Evernote</h3><hr/>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<label for="#txtDefaultService">Status: <i class="fa fa-info-circle" aria-hidden="true" rel="tooltip" title="Service status" id="blah"></i></label>
				<select id="evernoteStatus" class="form-control" style="width:50%">
					<option value="0">Disabled</option>
					<option value="1">Enabled</option>
				</select>
				
			</div>
			<div class="col-md-1"></div>
		</div><br/>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<label for="#txtDefaultService">Developer token: <i class="fa fa-info-circle" aria-hidden="true" rel="tooltip" title="Developer token status" id="blah"></i></label>
				<div id="evernoteToken">[ OK ]</div>
			</div>
			<div class="col-md-1"></div>
		</div><br/>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<label for="#txtDefaultService">Default notebook: <i class="fa fa-info-circle" aria-hidden="true" rel="tooltip" title="Default notebook that will be used during note creation" id="blah"></i></label>
				<div id="listNotebooks" class="input-group" style="width:50%">
					<img src="/static/images/103.gif"/>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div><br/>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<label for="#txtTags">Default tags: <i class="fa fa-info-circle" aria-hidden="true" rel="tooltip" title="A list of tags that will be added to encrypted note by default" id="blah"></i></label>
				<div>
				<input id="txtTags" data-role="tagsinput" placeholder="Put some tags here" class="form-control" style="width:70%"/>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div><br/>