<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<!-- ===================== [ General settings ] ============================ -->
		<h3>General</h3><hr/>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<label for="#txtDefaultService">System status: <i class="fa fa-info-circle" aria-hidden="true" rel="tooltip" title="Information about system status: master key, paths and access tokens" id="blah"></i></label>
				<div> [ Success ] </div>
			</div>
			<div class="col-md-1"></div>
		</div><br/>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<label for="#txtDefaultService">Default service: <i class="fa fa-info-circle" aria-hidden="true" rel="tooltip" title="Default service that will be used during note creation" id="blah"></i></label>
				<select class="form-control" style="width:50%">
					<option>Evernote</option>
					<option>Onenote</option>
				</select>
			</div>
			<div class="col-md-1"></div>
		</div><br/>
		<!-- ===================== [ Evernote settings ] ============================ -->
		<h3>Evernote</h3><hr/>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<label for="#txtDefaultService">Status: <i class="fa fa-info-circle" aria-hidden="true" rel="tooltip" title="Service status" id="blah"></i></label>
				<select class="form-control" style="width:50%">
					<option>Enabled</option>
					<option>Disabled</option>
				</select>
				
			</div>
			<div class="col-md-1"></div>
		</div><br/>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<label for="#txtDefaultService">Developer token: <i class="fa fa-info-circle" aria-hidden="true" rel="tooltip" title="Developer token status" id="blah"></i></label>
				<div>[ OK ]</div>
			</div>
			<div class="col-md-1"></div>
		</div><br/>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<label for="#txtDefaultService">Default notebook: <i class="fa fa-info-circle" aria-hidden="true" rel="tooltip" title="Default notebook that will be used during note creation" id="blah"></i></label>
				<select class="form-control" style="width:50%">
					<option>Evernote</option>
					<option>Onenote</option>
				</select>
			</div>
			<div class="col-md-1"></div>
		</div><br/>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<label for="#txtDefaultService">Default tags: <i class="fa fa-info-circle" aria-hidden="true" rel="tooltip" title="A list of tags that will be added to encrypted note by default" id="blah"></i></label>
				<input type="text" class="form-control" style="width:50%"/>
			</div>
			<div class="col-md-1"></div>
		</div><br/>
		<!-- ===================== [ Onenote settings ] ============================ -->
		<h3>Onenote</h3><hr/>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<label for="#txtDefaultService">Status: <i class="fa fa-info-circle" aria-hidden="true" rel="tooltip" title="Service status" id="blah"></i></label>
				<select class="form-control" style="width:50%">
					<option>Enabled</option>
					<option>Disabled</option>
				</select>
				
			</div>
			<div class="col-md-1"></div>
		</div><br/>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<label for="#txtDefaultService">Default notebook: <i class="fa fa-info-circle" aria-hidden="true" rel="tooltip" title="Default notebook that will be used during note creation" id="blah"></i></label>
				<select class="form-control" style="width:50%">
					<option>Evernote</option>
					<option>Onenote</option>
				</select>
			</div>
			<div class="col-md-1"></div>
		</div><br/>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<label for="#txtDefaultService">Default section: <i class="fa fa-info-circle" aria-hidden="true" rel="tooltip" title="Default section that will be used during note creation" id="blah"></i></label>
				<select class="form-control" style="width:50%">
					<option>Evernote</option>
					<option>Onenote</option>
				</select>
			</div>
			<div class="col-md-1"></div>
		</div>
		<br/>
		<!-- ===================== [ Cache settings ] ============================ -->
		{%include "settings.content.cache.html"%}
		
	</div>
	<div class="col-md-1"></div>
</div><br/><br/>