<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		{%include "alert.content.html" %}
	</div>
	<div class="col-md-1"></div>
</div>
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<!-- ===================== [ General settings ] ============================ -->
		{%include "settings.content.general.html"%}
		<!-- ===================== [ Evernote settings ] ============================ -->
		{%include "settings.content.evernote.html"%}
		<!-- ===================== [ Onenote settings ] ============================ -->
		{%include "settings.content.onenote.html"%}
		<!-- ===================== [ Cache settings ] ============================ -->
		{%include "settings.content.cache.html"%}
		<br/>
		<hr/>
		<div class="row">
			<div class="col-md-12">
				<button type="button" id="btnSave" class="btn btn-default" aria-label="Left Align">
				<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save
			    </button>
			    <button type="button" class="btn btn-default" aria-label="Left Align">
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel
			    </button>
			</div>
		</div>

		
	</div>
	<div class="col-md-1"></div>
</div><br/><br/>