<h3>General</h3><hr/>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<label for="#txtDefaultService">System status: <i class="fa fa-info-circle" aria-hidden="true" rel="tooltip" title="Information about system status: master key, paths and access tokens" id="blah"></i></label>
				<div> [ Success ] </div>
			</div>
			<div class="col-md-1"></div>
		</div><br/>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<label for="#txtDefaultService">Default service: <i class="fa fa-info-circle" aria-hidden="true" rel="tooltip" title="Default service that will be used during note creation" id="blah"></i></label>
				<select id="txtDefaultService" class="form-control" style="width:50%">
					<option value="0">Evernote</option>
					<option value="1">Onenote</option>
				</select>
			</div>
			<div class="col-md-1"></div>
		</div><br/>