<h3>Onenote </h3><hr/>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<label for="#txtDefaultService">Status: <i class="fa fa-info-circle" aria-hidden="true" rel="tooltip" title="Service status" id="blah"></i></label>
				<select id="onenoteStatus" class="form-control" style="width:50%">
					<option value="1">Enabled</option>
					<option value="0">Disabled</option>
				</select>
				
			</div>
			<div class="col-md-1"></div>
		</div><br/>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<label for="#txtDefaultService">Client ID: <i class="fa fa-info-circle" aria-hidden="true" rel="tooltip" title="Client ID status" id="blah"></i></label>
				<div id="onenoteClientID"></div>
				
			</div>
			<div class="col-md-1"></div>
		</div><br/>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<label for="#txtDefaultService">Client Secret: <i class="fa fa-info-circle" aria-hidden="true" rel="tooltip" title="Client secret status" id="blah"></i></label>
				<div id="onenoteclientSecret"></div>
				
			</div>
			<div class="col-md-1"></div>
		</div><br/>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<label for="#txtRedirectURI">Redirect URI: <i class="fa fa-info-circle" aria-hidden="true" rel="tooltip" title="Redirect URI value" id="blah"></i></label>
				<input type="text" class="form-control" style="width:70%" id="txtRedirectURI" placeholder="Type your redirect URI here"/>
				
				
			</div>
			<div class="col-md-1"></div>
		</div><br/>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<label for="#txtScopes">Scopes: <i class="fa fa-info-circle" aria-hidden="true" rel="tooltip" title="Scopes for Onenote authentication. For proper Saferoom operation please don't change this value" id="blah"></i></label>
				<input type="text" readonly="true" class="form-control" style="width:70%" id="txtScopes" placeholder="Your scopes here"/>
				
			</div>
			<div class="col-md-1"></div>
		</div><br/>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<label for="#listONNotebooks">Default notebook: <i class="fa fa-info-circle" aria-hidden="true" rel="tooltip" title="Default notebook that will be used during note creation" id="blah"></i></label>
				<div id="listONNotebooks" class="input-group" style="width:50%">
					<img src="/static/images/103.gif"/>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div><br/>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<label for="#txtDefaultService">Default section: <i class="fa fa-info-circle" aria-hidden="true" rel="tooltip" title="Default section that will be used during note creation" id="blah"></i></label>
				<div id="listONSections" class="input-group" style="width:50%">
					<img src="/static/images/103.gif"/>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
		<br/>