<div class="row">
	<div class="col-md-10" style="padding-left:50px">
		<h1><a class="nolink" href="/"><img src="/static/images/72.png"/> <span style="margin-left:10px">Saferoom</span></a></h1>
	</div>
	<div class="col-md-2" style="padding-top:20px;display:inline-block">
		<img class="saferoomIcon" width="64px" height="64px" id="iconOnenote" style="margin-right:20px" src="/static/images/onenote.png"/>	
		<img title="Onenote service" class="saferoomIcon" id="iconEvernote" src="/static/images/evernote.png" style="margin-right:20px"/>
		<img title="Help" class="saferoomIcon" id="iconHelp" src="/static/images/icon_help.png"/>
	</div>
</div>
<hr/>