<div style="text-align:center">
	<img src="/static/images/evernote_logo_center_4c-lrg.png"/>
</div><br/>
<ul class="list-group">
	<li class="list-group-item"><strong>ID:</strong> {{uid}}</li>
	<li class="list-group-item"><strong>Username:</strong> {{username}}</li>
	<li class="list-group-item"><strong>Email:</strong> {{email}}</li>
	<li class="list-group-item"><strong>Privilege Level:</strong> {{priv}}</li>
	<li class="list-group-item"><strong>Premium status:</strong> {{premiumStatus}}</li>
</ul>