<div class="row">
	<div class="col-md-11" style="padding-left:50px">
		<h3><span id="noteTitle"><img src="/static/images/103.gif"></span>
		<span>
			<button type="button" id="btnEncrypt" title="Encrypt using master password" class="btn btn-default btn-md"><i class="fa fa-lock" aria-hidden="true"></i> Encrypt</button>
		</span>
		<span>
			<button type="button" id="btnOTPEncrypt" title="Encrypt using OTP password" class="btn btn-default btn-md"><i class="fa fa-lock" aria-hidden="true"></i> OTP Encrypt</button>
		</span>
		<span>
			<button type="button" id="btnDecrypt" title="Decrypt using master password" class="btn btn-default btn-md"><i class="fa fa-unlock-alt" aria-hidden="true"></i> Decrypt</button>
		</span>
		<span>
			<button type="button" id="btnOTPDecrypt" title="Decrypt using OTP password" class="btn btn-default btn-md"><i class="fa fa-unlock-alt" aria-hidden="true"></i> OTP Decrypt</button>
		</span>
		<span style="margin-left:10px" id="favAdd">
			<button type="button" id="btnAddFav" title="Add note to favourites" class="btn btn-default btn-md"><i class="fa fa-star-o" aria-hidden="true"></i> Add to Favourites</button>
		</span>
		<span style="margin-left:10px;display:none" id="favRemove">
			<button type="button"  id="btnRemFav" title="Remove note to favourites" class="btn btn-default btn-md"><i class="fa fa-star" aria-hidden="true"></i> Remove from Favourites</button>
		</span>
		<span style="margin-left:10px">
			<button type="button" id="btnUpdate" title="Download the latest note version from server" class="btn btn-default btn-md"><i class="fa fa-refresh" aria-hidden="true"></i> Update</button>
		</span>
		<div style="margin-left:10px" class="btn-group" id="btnBackup" style="display:none">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="fa fa-archive" aria-hidden="true"></i> Manage backups <span class="caret"></span>
			</button>
				<ul class="dropdown-menu">
					<li><a title="Restore the note from the backup and upload to server" href="#" id="backup_restore"><i style="margin-right:5px" class="fa fa-cloud-upload" aria-hidden="true"></i> Restore</a></li>
					<li><a id="backup_view" title="View the note backup" href="#"><i style="margin-right:5px" class="fa fa-eye" aria-hidden="true"></i> View</a></li>
					<li><a id="backup_delete" title="Delete the note backup" href="#"><i style="margin-right:5px" class="fa fa-trash" aria-hidden="true"></i> Delete</a></li>
				</ul>
		</div>
		</h3><hr/>
	</div>
	<div class="col-md-1" style="padding-left:50px">
		
	</div>
</div>
<div class="row">
	<div class="col-md-11" style="padding-left:50px">
		<div id="noteContent">
			<img src="/static/images/103.gif">
		</div><hr/>
		<div>

		</div>
	</div>
	<div class="col-md-1" style="padding-left:50px"></div>
</div>
<input type="hidden" id="txtGuid" value="{{guid}}"/>
<!-- Modal window template for encryption progress  -->
{% include "dialog.progress.html"%}