<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<h3>Master password</h3><hr/>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<label for="#txtClientSecret">Master password: <i class="fa fa-info-circle" aria-hidden="true" rel="tooltip" title="Master password used to encrypt/decrypt your notes" id="blah"></i></label>
				<input type="password" class="form-control" style="width:70%" id="txtPassword" placeholder="Type your master password here"/>				
			</div>
			<div class="col-md-1"></div>
		</div><br/>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<label for="#txtClientSecret">Confirm password: <i class="fa fa-info-circle" aria-hidden="true" rel="tooltip" title="Confirm your master password" id="blah"></i></label>
				<input type="password" class="form-control" style="width:70%" id="txtConfPassword" placeholder="Confirm your master password"/>				
			</div>
			<div class="col-md-1"></div>
		</div><br/>
		<h3>Evernote</h3><hr/>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<label for="#txtStatus_en">Status: <i class="fa fa-info-circle" aria-hidden="true" rel="tooltip" title="Evernote status" id="blah"></i></label>
				<select id="txtStatus_en" class="form-control" style="width:50%">
					<option value="1">Enabled</option>
					<option selected="true" value="0">Disabled</option>
				</select>				
			</div>
			<div class="col-md-1"></div>
		</div><br/>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<label for="#txtDeveloperToken">Developer token: <i class="fa fa-info-circle" aria-hidden="true" rel="tooltip" title="Evernote developer token used to login into your Evernote account" id="blah"></i></label>
				<input type="text" class="form-control" style="width:70%" id="txtDeveloperToken" placeholder="Paste your developer token here"/>				
			</div>
			<div class="col-md-1"></div>
		</div><br/>
		<h3>Onenote</h3><hr/>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<label for="#txtStatus_on">Status: <i class="fa fa-info-circle" aria-hidden="true" rel="tooltip" title="Onenote service status" id="blah"></i></label>
				<select id="txtStatus_on" class="form-control" style="width:50%">
					<option value="1">Enabled</option>
					<option selected="true" value="0">Disabled</option>
				</select>				
			</div>
			<div class="col-md-1"></div>
		</div><br/>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<label for="#txtClientID">Client ID: <i class="fa fa-info-circle" aria-hidden="true" rel="tooltip" title="Client ID or Application ID. This is unique application ID registered in your Microsoft account" id="blah"></i></label>
				<input type="text" class="form-control" style="width:70%" id="txtClientID" placeholder="Paste your Client ID here"/>				
			</div>
			<div class="col-md-1"></div>
		</div><br/>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<label for="#txtClientSecret">Client secret: <i class="fa fa-info-circle" aria-hidden="true" rel="tooltip" title="Client secret. This is unique key used along with Client ID to authenticate into your Microsoft account" id="blah"></i></label>
				<input type="password" class="form-control" style="width:70%" id="txtClientSecret" placeholder="Paste your Client secret here"/>				
			</div>
			<div class="col-md-1"></div>
		</div><br/>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<label for="#txtClientSecret">Redirect URI: <i class="fa fa-info-circle" aria-hidden="true" rel="tooltip" title="Redirect URI. This is URI used to authenticate into your Microsoft account. This URI is configured in your Microsoft account" id="blah"></i></label>
				<input type="text" class="form-control" style="width:70%" id="txtRedirectUri" placeholder="Paste your Redirect URI here"/>				
			</div>
			<div class="col-md-1"></div>
		</div><br/>
		<br/>
		<hr/>
		<div class="row">
			<div class="col-md-12">
				<div class="center">
					<button style="font-size:1.5em;color:#ffffff;background:#1A9C03;padding:20px 20px 20px 20px" type="button" id="btnStart" class="btn btn-default" aria-label="Left Align">
					<span class="glyphicon glyphicon-play" aria-hidden="true"></span> Start Saferoom
					</button>			    
				</div>
			</div>
		</div>

	</div>
	<div class="col-md-1"></div>
</div>