{%extends "wizard.layout.html"%}
{%block css%}
	<link href="/static/css/prettify.css" rel="stylesheet">	
{%endblock%}
{% block body %}
<!-- Content section -->
{%include "wizard.content.html"%}
{%endblock%}
{%block scripts%}
	<script type="text/javascript" src="/static/js/bootstrap.wizard.js"></script>
	<script type="text/javascript" src="/static/js/prettify.js"></script>
	<script type="text/javascript" src="/static/js/wizard.js"></script>
{% endblock %}
{%block dialogs%}
{% include "dialog_loading.html" %}
{%endblock%}